@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background: #39667D;
}

.banner {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../img/fondoIndex.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(42, 75, 94, 0.5); 
}

/* Menú */
.menu {
    position: relative;
    z-index: 2;
    width: 90%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.menu-icono {
    width: 30px;
    height: 30px;
    color: white;
}

.navegacion {
    display: flex;
    align-items: center;
    gap: 15px;
    display: none;
}

.navegacion-lista {
    display: flex;
    list-style: none;
    gap: 45px;
}

.navegacion-lista li {
    border-bottom: 2px solid transparent;
    padding-block: 5px;
}

.navegacion-lista li:first-child {
    border-bottom-color: yellow;
}

.navegacion-lista li:hover {
    border-bottom-color: yellow;
}

.navegacion-lista a {
    text-decoration: none;
    font-weight: 400;
    color: white;
    font-size: 15px;
}

@media (min-width: 768px) {
    .menu-icono {
        display: none;
    }

    .navegacion {
        display: flex;
    }
}

/* Información */
.contenido{
    position: relative;
    z-index: 2;
    flex: 1;
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
}

.informacion-contenido{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.bienvenida{
    font-size: 20px;
    width: 80%;
    border-bottom: 2px solid yellow;
    text-align: center;
    font-weight: bold;
}

.info {
    font-size: 22px;
    text-align: center;
}

@media (min-width:768px) {
    .contenido {
        flex-direction: row;
        gap: 15px;
    }

    .informacion {
        gap: 30px;
    }

    .bienvenida {
        font-size: 60px;
        width: 100%;
    }
}

.btn{
    font-size: 15px;
    background-color: transparent;
    color: white;
    border: 2px solid yellow;
    padding-block: 10px;
    padding-inline: 50px;
}

.btn:hover{
    border-color: white;
    background-color: white;
    cursor: pointer;
    color: rgb(142, 142, 2);
}

/* Contenedor */
.container {
    color: white;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.titulo {
    text-align: center;
    font-weight: bold;
    color: yellow;
}

p {
    text-align: justify;
    font-size: 17px;
}

.link {
    color: yellow;
}